body {
    background-color: #141414;
    color: #999999;
}

.checkbox {
    text-align: center;
    font-size: 90%;
}
.option {
    font-size: 90%;
    border-radius: 5px;
    color: #999999;
    background-color: #141414;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: Helvetica;
    z-index: 0;
}

.option:hover {
    background-color: #1E1E1E;
    color: #D3D3D3;
    z-index: 3;
    cursor: pointer;
}

.online {
    color: #6441A5
}

.offline {
    color: #D44949
}

.follow {
    width: 30px; height: 78px;
    background: url('follow.png') no-repeat center center;
    background-position: 0px 0px
}

.follow:hover {
   cursor: pointer;
   background-position: -30px 0px
}

.unfollow {
    width: 30px; height: 78px;
    background: url('unfollow.png') no-repeat center center;
    background-position: 0px 0px
}

.unfollow:hover {
   cursor: pointer;
   background-position: -30px 0px
}

.import {
    width: 30px; height: 78px;
    background: url('import.png') no-repeat center center;
    background-position: 0px 0px
}

.import:hover {
   cursor: pointer;
   background-position: -30px 0px
}


li {
    list-style-type: none;
}
a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: black;
}
a:hover, a:focus {
    background-color: white;
    color: black;
    cursor: pointer;
}

.header {
    position: fixed;
    z-index: 99;
    width: 100%;
}

table {
    cursor: default;
}

table.headd {
    background-color: #1E1E1E;
}

.outer {
    background-color: #141414;
    position: relative;
    height: 100px;
    top: 35px;
}

.settings {
    width: 32px; height: 32px;
    background: url('settings2.png') no-repeat center center;
    background-position: -64px 0px
}

.settings2 {
    border-right: 1px solid #333333
}

.refresh2 {
    border-left: 1px solid #333333
}

.settings:hover {
   cursor: pointer;
   background-position: -64px 0px
}

.refresh {
    width: 32px; height: 32px;
    background: url('refresh.png') no-repeat center center;
    background-position: -64px 0px
}
.refresh:hover{
    cursor: pointer;
    background-position: -64px 0px
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
    margin: 0px;
}

.search {
    background-color: #323232;
    color: #D3D3D3;
    border: 1px solid #333333
}

button {
    background-color: #323232;
    color: #D3D3D3;
    border: 1px solid #333333
}

button:hover{
    background-color: #646464
}