body {
    background-color: white;
}

.checkbox {
    text-align: center;
    font-size: 90%;
}
.option {
    font-size: 90%;
    border-radius: 5px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: Helvetica;
    z-index: 0;
}
.option:hover {
    background-color: DarkSlateGray ;
    color: white;
    z-index: 3;
    cursor: pointer;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: black;
}
a:hover, a:focus {
    background-color: white;
    color: black;
    cursor: pointer;
}
.refresh {
    opacity: 0.6
}
.refresh:hover, .refresh:focus {
    opacity: 0.8
}
.refresh:active {
    opacity: 1
}
ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    cursor: none;
}
a:visited {
    color: black;
}
