body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 80%;
    background-color: #141414;
    color: #999
}
a:link {
    color: #CCC
}
a:visited {
    color: #BBB
}
a:hover {
    color: #FFF
}
a:active {
    color: #6441A5
}
ul#tabs {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0 0 .3em
}
ul#tabs li {
    display: inline
}
ul#tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    color: #999;
    background-color: #323232;
    border-color: #1E1E1E #1E1E1E -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    padding: .3em;
    text-decoration: none
}
button,
input,
select,
ul#tabs li a:hover {
    color: #D3D3D3
}
ul#tabs li a:hover {
    background-color: #272727
}
ul#tabs li a.selected {
    background-color: #1E1E1E;
    color: #D3D3D3;
    font-weight: 700;
    padding: .7em .3em .38em
}
div.tabContent {
    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
    padding: .5em
}
button,
input,
select {
    border: 1px solid #333
}
div.tabContent.hide {
    display: none
}
input {
    background-color: #323232
}
select {
    background-color: #141414
}
.settings {
    width: 32px;
    height: 32px;
    background: url(settings2.png)-64px 0 no-repeat
}
button {
    background-color: #323232
}
button:hover {
    background-color: #484848
}