body {
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 80%;
}
ul#tabs {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0 0 0.3em;
}
ul#tabs li {
    display: inline;
}
ul#tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #dedbde;
    border-color: #c9c3ba #c9c3ba -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #42454a;
    padding: 0.3em;
    text-decoration: none;
}
ul#tabs li a:hover {
    background-color: #f1f0ee;
}
ul#tabs li a.selected {
    background-color: #f1f0ee;
    color: #000;
    font-weight: bold;
    padding: 0.7em 0.3em 0.38em;
}
div.tabContent {
    background-color: #f1f0ee;
    border: 1px solid #c9c3ba;
    padding: 0.5em;
}
div.tabContent.hide {
    display: none;
}
.settings {
    width: 32px;
    height: 32px;
    background: url('settings2.png') no-repeat center center;
    background-position: -32px 0px
}