body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 80%
}
ul#tabs {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0 0 .3em
}
ul#tabs li {
    display: inline
}
ul#tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #dedbde;
    border-color: #c9c3ba #c9c3ba -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #42454a;
    padding: .3em;
    text-decoration: none
}
div.tabContent,
ul#tabs li a.selected,
ul#tabs li a:hover {
    background-color: #f1f0ee
}
ul#tabs li a.selected {
    color: #000;
    font-weight: 700;
    padding: .7em .3em .38em
}
div.tabContent {
    border: 1px solid #c9c3ba;
    padding: .5em
}
div.tabContent.hide {
    display: none
}
.settings {
    width: 32px;
    height: 32px;
    background: url(settings2.png)-32px 0 no-repeat
}