.option,
body {
    background-color: #fff
}
.follow,
.mute,
.unfollow,
.unmute,
.video {
    width: 30px
}
.authed:hover,
.chat:hover,
.connect:hover,
.exit:hover,
.follow:hover,
.gamefollows:hover,
.gochannel:hover,
.live:hover,
.logout:hover,
.mute:hover,
.option:hover,
.switch:hover,
.twitch:hover,
.unfollow:hover,
.unmute:hover,
.video:hover,
.videofollows2:hover,
.videofollows:hover,
a,
a:focus,
a:hover {
    cursor: pointer
}
.menu2,
.menu3 {
    border-top: 1px solid #BFBFBF
}
.checkbox {
    text-align: center;
    font-size: 90%
}
.option {
    font-size: 90%;
    border-radius: 5px;
    color: #1E1E1E;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: Helvetica;
    z-index: 0
}
.option:hover {
    background-color: #F2F2F2;
    color: #141414;
    z-index: 3
}
.online {
    color: #6441A5
}
.offline {
    color: #D44949
}
.authed {
    color: inherit
}
.authed:hover {
    color: #6441A5
}
.follow {
    height: 14px;
    background: url(follow.png)center center no-repeat #6441A5;
    background-position: -2px, 50%
}
.follow:hover {
    background-color: #7550BA;
    background-position: -32px, 50%
}
.unfollow {
    height: 12px;
    background: url(unfollow.png)center center no-repeat #00B132;
    background-position: -2px, 50%
}
.mute,
.unmute,
.video {
    height: 14px
}
.unfollow:hover {
    background-position: -32px 50%;
    background-color: #D44949
}
.mute {
    background: url(mute.png)-2px 50% no-repeat #7550BA
}
.mute:hover {
    background-position: -32px 50%;
    background-color: #6441A5
}
.unmute {
    background: url(mute.png)center center no-repeat #D44949;
    background-position: -32px, 50%
}
.unmute:hover {
    background-position: -2px 50%;
    background-color: #00B132
}
.video {
    background: url(video.png)-2px 50% no-repeat #8C8C9C
}
.connect,
.exit,
.gamefollows,
.gamefollows2,
.logout,
.switch,
.videofollows {
    height: 32px
}
.video:hover {
    background-position: -32px 50%;
    background-color: #C3C3C4
}
.exit {
    width: 32px;
    background: url(search.png)-32px 0 no-repeat
}
.exit:hover {
    background-position: -64px 0
}
.switch {
    width: 32px;
    background: url(twitch.png)-32px 0 no-repeat
}
.switch:hover {
    background-position: -64px 0
}
.gamefollows {
    width: 32px;
    background: url(gamefollows.png)-32px 0 no-repeat
}
.gamefollows2 {
    width: 32px;
    background: url(gamefollows.png)-64px 0 no-repeat
}
.gamefollows2:hover {
    cursor: pointer
}
.videofollows {
    width: 32px;
    background: url(videofollows.png)-32px 0 no-repeat
}
.videofollows2 {
    width: 32px;
    height: 32px;
    background: url(videofollows.png)-64px 0 no-repeat
}
.logout {
    width: 32px;
    background: url(logout.png)-32px 0 no-repeat
}
.logout:hover {
    background-position: -64px 0
}
.connect {
    width: 170px;
    background: url(connect.png)no-repeat
}
.chat,
.gochannel,
.live,
.twitch {
    height: 20px;
    width: 30px
}
.connect:hover {
    background-position: 0 -32px
}
.twitch {
    background: url(options.png)-2px 50% no-repeat red
}
.twitch:hover {
    background-color: #FF7F00
}
.live {
    background: url(options.png)-32px 50% no-repeat red
}
.live:hover {
    background-color: #FF7F00
}
.chat {
    background: url(options.png)-62px 50% no-repeat red
}
.chat:hover {
    background-color: #FF7F00
}
.gochannel {
    background: url(options.png)-92px 50% no-repeat red
}
.gochannel:hover {
    background-color: #FF7F00
}
li {
    list-style-type: none
}
a {
    text-decoration: none;
    display: block;
    color: #000
}
.channel,
.followers,
.game,
.streamer,
.time,
.vid,
.viewers,
.views {
    display: inline-block
}
a:focus,
a:hover {
    background-color: #fff;
    color: #000
}
.header {
    position: fixed;
    z-index: 99;
    width: 100%
}
table {
    cursor: default
}
table.headd {
    background-color: #f2f2f2
}
.outer {
    background-color: #fff;
    position: relative;
    height: 100px;
    top: 35px
}
.settings {
    width: 32px;
    height: 32px;
    background: url(settings2.png)-32px 0 no-repeat
}
.settings:hover {
    cursor: pointer;
    background-position: 0 0
}
.settings2 {
    width: 24px;
    height: 24px;
    background: url(settings2.png)-24px 0 no-repeat;
    background-size: 96px 24px
}
.back,
.channels,
.followed,
.games,
.refresh {
    height: 32px;
    width: 32px
}
.settings2:hover {
    cursor: pointer;
    background-position: 0 0
}
.refresh {
    background: url(refresh.png)-32px 0 no-repeat
}
.refresh:hover {
    cursor: pointer;
    background-position: 0 0
}
.followed {
    background: url(followed.png)-32px 0 no-repeat
}
.followed:hover {
    cursor: pointer;
    background-position: 0 0
}
.games {
    background: url(games.png)-32px 0 no-repeat
}
.menu2,
.menu3 {
    background-color: #f2f2f2
}
.games:hover {
    cursor: pointer;
    background-position: 0 0
}
.channels {
    background: url(channels.png)-32px 0 no-repeat
}
.channels:hover {
    cursor: pointer;
    background-position: 0 0
}
.back {
    background: url(back.png)-32px 0 no-repeat
}
.back:hover {
    cursor: pointer;
    background-position: 0 0
}
.border {
    border-right: 1px solid #BFBFBF
}
.search2 {
    width: 24px;
    height: 24px;
    background: url(search.png)-24px 0 no-repeat;
    background-size: 72px 24px
}
.search2:hover {
    cursor: pointer;
    background-position: -48px 0
}
ul {
    padding: 0;
    margin: 0
}
.preview:hover {
    cursor: move
}
.logo {
    width: 78px;
    height: 78px;
    background-size: 78px 78px
}
.channel,
.followers,
.game,
.streamer,
.time,
.vid,
.viewers,
.views {
    height: 16px;
    width: 16px
}
.streamer {
    background: url(streamer.png)center center no-repeat
}
.viewers {
    background: url(viewers.png)center center no-repeat
}
.channel {
    background: url(channel.png)center center no-repeat
}
.game {
    background: url(game.png)center center no-repeat
}
.time {
    background: url(time.png)center center no-repeat
}
.vid {
    background: url(vid.png)center center no-repeat
}
.views {
    background: url(views.png)center center no-repeat
}
.followers {
    background: url(followers.png)center center no-repeat
}
.box {
    width: 56px;
    height: 78px
}
.videos {
    width: 32px;
    height: 32px;
    background: url(videos.png)-32px 0 no-repeat
}
.videos:hover {
    cursor: pointer;
    background-position: 0 0
}
.rotate {
    letter-spacing: -3px;
    font-stretch: expanded;
    -moz-transform: rotate(90deg)scale(1, 1.11111)
}
button {
    background-color: #f2f2f2;
    color: #6441A5;
    border: 1px solid #BFBFBF
}
button:hover {
    cursor: pointer;
    background-color: #BFBFBF
}